# Data Science Tools and Ecosystem
#### In this notebook, Various Data Science Tools and Ecosystems are summarized and depicted

<b>Objectives:<b>
- To learn about popular languages in Data Science
- To learn about the popular libraries used in Data Science
- To learn about Data Science Tools
- Some basic pyhton arithmetic expression
- To learn basic markdown handling

Some of the popular languages used in Data Science are:
1. Python & its libraries
2. TensorFlow
3. R
4. SQL
5. Java

Some of the popular used libraries in Data Science are:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit
5. Seaborn
6. Beautiful Soup
7. Keras
8. ggplot

|Data Science Tools |
|-------------------|
|Apache Spark       |
|Apache Kafka       |
|PyTorch            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This is a simple arithmetic expression to multiply integers and then add integers.

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60.
hours = 200/60
print(f"200 minutes is equal to {hours}")

200 minutes is equal to 3.3333333333333335

## Author
Vansh Batra